

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>admin login</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <link rel="stylesheet" href="/styles/login.css">

</head>
<body>
  <div class="login-page">
    <div class="form">
      

      <form class="login-form" action="/admin/login" method="post">
        <input type="text" name="username" id="username" placeholder="username" />
        <input type="password" name="password" id="password" placeholder="password" />
        <button>Login</button>
    </form>
    
    </div>
  </div>
  <script src="/styles/login.js"></script>
  <script src="/styles/userLoginValidation.js"></script>
</body>
<% if (typeof errorMessage != 'undefined') { %>
  <script>
    swal("Error", "<%= errorMessage %>", "error");
  </script>
<% } %>

<% if (typeof successMessage != 'undefined') { %>
  <script>
    swal("Good job!", "<%= successMessage %>", "success");

  </script>
<% } %>
</html>