    Custom CSS body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }

    .navbar {
        background-color: #343a40;
    }

    .navbar-brand {
        color: white;
    }

    .logout-btn {
        background-color: #ff9800;
        color: white;
    }

    .logout-btn:hover {
        background-color: #e68900;
    }


    .body {
        background-color: rgb(243, 243, 240);
        height: 95vh;
    }

    .name-head {
        text-align: center;
        padding-top: 20%;
        color: rgb(76, 74, 74);
    }